
.gitignore

# Python Files #
################
.ipynb_checkpoints
__pycache__/

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.h5
# Large data files #
###################
/data

# Temporary #
#############
notebooks/brainstorming_notebooks/*
!notebooks/brainstorming_notebooks/dual_encoder_udc/*
