
.gitignore

# Python Files #
################
.ipynb_checkpoints
__pycache__/

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Large data files #
###################
/data
